body {
    background-color: salmon;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2 {
    border: solid 10px dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 10px; 
}
p {
    background-color: #ff00ff;
    border: solid 10px white;
    border-radius: 10%;
    background-color: violet;
    padding: 5px 10px; 
}
.posankka {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    display: block;
    margin: 0 auto; 
}
